
html{
	background-color: black;
}

.myDiv {
    position: relative;
    z-index: 1;
    opacity: .9;
}

#mongoHead{
	text-align: center;
	margin:auto;
	padding-top: 200px;
	font-size: 60px;

}

#nytHead{
	text-align: center;

}
.myDiv #wrapper{
	position: absolute;
	z-index: -1;
	background-image: url("newspaper.jpg");
	 opacity: .4;
	/*background: rgba(255,255,255,0.5);*/
	height: 100%;
	width: 100%;

}